.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 40px;
}

.content {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 1px 50%;
  align-items: center;
}

.loginForm {
  width: 100%;
  padding: 80px;
  box-sizing: border-box;
  display: grid;
  gap: 20px;
}
