.button {
  width: 100%;
  border-radius: 6px;
  min-height: 40px;
  min-width: 40px;

  border-color: var(--button-border-color) !important;
  box-shadow: none !important;
  color: var(--button-color) !important;
  background-color: var(--button-background-color) !important;

  &:hover {
    border-color: var(--button-border-color-hover) !important;
    background-color: var(--button-background-color-hover) !important;
    color: var(--button-color-hover) !important;
  }

  &:disabled {
    cursor: not-allowed;
    border-color: #d9d9d9 !important;
    color: rgba(0, 0, 0, 0.25) !important;
    background: rgba(0, 0, 0, 0.04) !important;
    box-shadow: none !important;
  }
}
