@import './theme-variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-inter);

  ul {
    list-style-type: none;
  }
}

:root {
  // FONT
  --font-family-inter: #{$font-family-inter};
}

// DEFINE COLORS FOR LIGHT MODE
:root,
.light {
  // BACKGROUND COLOR
  --background-color: #{$background-color-light};

  // COLOR PRIMARY
  --color-primary: #{$color-primary-light};
  --color-primary-alt: #{$color-primary-light-alt};
  --color-primary-2: #{$color-primary-light-2};

  // HEADING COLORS
  --heading-color: #{$heading-color-light};

  // APP THEME
  --app-theme-color: #{$app-theme-color-light};

  // BUTTON COLORS
  --button-color: #{$button-color-light};
  --button-border-color: #{$button-border-color-light};
  --button-background-color: #{$button-background-color-light};
  --button-background-color-hover: #{$button-background-color-hover-light};
  --button-color-hover: #{$button-color-hover-light};
}

// DEFINE COLORS FOR DARK MODE
.dark {
  // BACKGROUND COLOR
  --background-color: #{$background-color-dark};

  // COLOR PRIMARY
  --color-primary: #{$color-primary-dark};
  --color-primary-alt: #{$color-primary-dark-alt};
  --color-primary-2: #{$color-primary-dark-2};

  // HEADING COLORS
  --heading-color: #{$heading-color-dark};

  // APP THEME
  --app-theme-color: #{$app-theme-color-dark};

  // BUTTON COLORS
  --button-color: #{$button-color-dark};
  --button-border-color: #{$button-border-color-dark};
  --button-background-color: #{$button-background-color-dark};
  --button-background-color-hover: #{$button-background-color-hover-dark};
  --button-color-hover: #{$button-color-hover-dark};
}
