/* *** FONT *** */
$font-family-inter: 'Inter', sans-serif;

/* *** BACKGROUND COLOR *** */
$background-color-light: #fff !default;
$background-color-dark: #121212 !default;
$background-color-alt-light: #f5f5f5 !default;
$background-color-alt-dark: #121212 !default;

/* *** APP THEME *** */
$app-theme-color-light: #8a211c !default;
$app-theme-color-dark: #5d5d5d !default;

/* *** BUTTON COLORS *** */
$button-color: #fff !default;
$button-color-hover: #8a211c !default;
$button-border-color: #8a211c !default;
$button-border-color-hover-light: #8a211c !default;
$button-border-color-hover-dark: #fff !default;
$button-background-color: #8a211c !default;
$button-background-color-hover: #fff !default;

/* *** ANIMATIONS *** */
$animation-type: cubic-bezier(0.645, 0.045, 0.355, 1);

/* *** HEADING COLORS *** */
$heading-color-light: #8a211c !default;
$heading-color-dark: #e3e3e3 !default;

/* *** COLOR PRIMARY *** */
$color-primary-light: #121212 !default;
$color-primary-dark: #e3e3e3 !default;
$color-primary-light-alt: #5d5d5d !default;
$color-primary-dark-alt: #939393 !default;
$color-primary-light-2: #e3e3e3 !default;
$color-primary-dark-2: #939393 !default;

/* *** TOAST OVERWRITES *** */
$toast-background-color-light: #fff;
$toast-background-color-dark: #5d5d5d;
