@import './theme-variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-inter);

  ul {
    list-style-type: none;
  }
}

:root {
  // FONT
  --font-family-inter: #{$font-family-inter};

  // BUTTON COLORS
  --button-color: #{$button-color};
  --button-border-color: #{$button-border-color};
  --button-background-color: #{$button-background-color};
  --button-background-color-hover: #{$button-background-color-hover};
  --button-color-hover: #{$button-color-hover};

  // ANIMATIONS
  --animation-type: #{$animation-type};

  //TOAST OVERWRITES
  --toastify-toast-min-height: 40px;

  .Toastify__toast {
    background-color: var(--background-color);
    padding: 0 2px;
    color: var(--color-primary);
    font-size: 14px;
    box-shadow: none;
  }

  .Toastify__toast--error {
    border: 1px solid var(--toastify-color-error);
  }

  .Toastify__toast--success {
    border: 1px solid var(--toastify-color-success);
  }
}

// DEFINE COLORS FOR LIGHT MODE
:root,
.light {
  // BACKGROUND COLOR
  --background-color: #{$background-color-light};
  --background-color-alt: #{$background-color-alt-light};

  // COLOR PRIMARY
  --color-primary: #{$color-primary-light};
  --color-primary-alt: #{$color-primary-light-alt};
  --color-primary-2: #{$color-primary-light-2};

  // HEADING COLORS
  --heading-color: #{$heading-color-light};

  // APP THEME
  --app-theme-color: #{$app-theme-color-light};

  // BUTTON COLORS
  --button-border-color-hover: #{$button-border-color-hover-light};

  // TOAST OVERWRITES
  --toast-background-color: #{$toast-background-color-light};
}

// DEFINE COLORS FOR DARK MODE
.dark {
  // BACKGROUND COLOR
  --background-color: #{$background-color-dark};
  --background-color-alt: #{$background-color-alt-dark};

  // COLOR PRIMARY
  --color-primary: #{$color-primary-dark};
  --color-primary-alt: #{$color-primary-dark-alt};
  --color-primary-2: #{$color-primary-dark-2};

  // HEADING COLORS
  --heading-color: #{$heading-color-dark};

  // APP THEME
  --app-theme-color: #{$app-theme-color-dark};

  // BUTTON COLORS
  --button-border-color-hover: #{$button-border-color-hover-dark};

  // TOAST OVERWRITES
  --toast-background-color: #{$toast-background-color-dark};
}
