.button {
  --color: var(--color-primary-alt);
  width: fit-content;
  margin: 0 auto;
  border: 0;
  box-shadow: none;
  background-color: transparent !important;

  &:hover {
    --color: var(--color-primary);
    background-color: transparent !important;
  }
}

.link {
  color: var(--color) !important;
}
