.text {
  color: var(--color-primary) !important;
  text-align: center;
}

.body {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &::before,
  &::after {
    content: unset !important;
  }
}
