.button {
  border-color: var(--button-border-color) !important;
  box-shadow: none !important;
  color: var(--button-color) !important;
  background-color: var(--button-background-color) !important;

  &:hover {
    border-color: var(--button-color) !important;
    background-color: var(--button-background-color-hover) !important;
    color: var(--button-color-hover) !important;
  }
}
