.title {
  color: var(--heading-color) !important;
  margin: 0 !important;
}

.level1 {
  font-size: 40px !important;
  line-height: 40px !important;
}

.level3 {
  color: var(--color-primar) !important;
}

.level4 {
  color: var(--color-primar) !important;
}
